body {
    background-image: url(https://i.ytimg.com/vi/Pkni0V1aoic/maxresdefault.jpg);
    background-size: 100%;
    color: yellow;
}

.all {
    /* background-color: rgba(245, 245, 245, 0.75); */
    font-size: 30px;
    border-radius: 30px;
    width: 50%;
    height: 625px;
    margin-top: 0px;
    margin-left: 350px;
}

.title {
    font-size: 50px;
    text-align: center;
}

#play {
    width: 275px;
    height: 100px;
    background-color: transparent;
    line-height: 100px;
    font-size:30px;
    border-radius: 20px;
    cursor: pointer;
    border:10px solid tomato;
    color: tomato;
    text-align: center;
    margin-left: 175px;
    /* z-index: 2; */
    font-weight: bold;
}

#play::before {
    content: "";
    position: absolute;
    top: 550px;
    left: 100%;
    right: 530px;
    bottom: -10px;
    background: tomato;
    transition: .4s;
    z-index: -1; 
    /* z-index:  Position elements; */
    /* display: inline-block; */
}

#play:hover:before {
    left: 540px;
    border-radius: 20px;
}

#play:hover {
    color: black;
    z-index: Non-positioned elements;
}

.pPlay {
    /* z-index: 3; */
    position: absolute;
    line-height: 100px;
}